name: CI
on:
  push:
      branches:
        - test/**
env:
  ProjectName: ${{ github.event.repository.name }}
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: 1
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  NET_VERSION: 10.0.x

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.NET_VERSION }}

      - name: Test build
        run: dotnet build -c Release

      - name: Run tests
        working-directory: test/${{ env.ProjectName }}.Tests
        run: |
          dotnet test -c Release

      - name: Run tests (Disable AVX512)
        working-directory: test/${{ env.ProjectName }}.Tests
        run: |
          dotnet test -c Release
        env:
          DOTNET_EnableAVX512: 0

      - name: Run tests (Disable AVX)
        working-directory: test/${{ env.ProjectName }}.Tests
        run: |
          dotnet test -c Release
        env:
          DOTNET_EnableAVX: 0

      - name: Run tests (Disable HWIntrinsic)
        working-directory: test/${{ env.ProjectName }}.Tests
        run: |
          dotnet test -c Release
        env:
          DOTNET_EnableHWIntrinsic: 0
